/* App.css */
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  font-family: Arial, sans-serif;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

/* Styles for Headings */
.appContainer {
  padding: 20px;
  background-color: #f0f0f0;
}

ul {
  list-style-type: none;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.loadMoreBtn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: var(--primary-color, #646cff);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.loadMoreBtn:hover {
  background-color: var(--primary-hover-color, #535ed3);
}

.mainTitle {
  display: none;
}

/* Modal */

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
}

.image {
  max-width: 100%;
  height: auto;
}

.details {
  padding: 20px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}
